
.box {
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
}

.hide {
    display: none;
}

.search-result button {
    display: block;
    margin: 10px;
    min-width: 100px;
}

form > input, form > label {
    margin: 5px;
}
